In [1]:
import logging
import pandas as pd
from csv import QUOTE_NONNUMERIC
from unicef_schools_attribute_cleaning.pandas.standardize_column_names import standardize_column_names
from unicef_schools_attribute_cleaning.pandas.dataframe_cleaner import dataframe_cleaner

# make INFO logs visible
logging.basicConfig(level=logging.INFO)

src_df = pd.read_excel('../../data/UNICE_schools_raw_2020_Jun/Zimbabwe schools complete data.xlsx')
# src_df = pd.read_csv('../../data/unicef_fixed/zimbabwe_original_uuid.csv', low_memory=False)

src_df

,Schoolnumber,Name,SchoolLevel,Province,latitude,longitude,Tot_comp_Student,Enrolment,_tot_func_computers,connectiontype
0,1001,ADMIRAL TAIT,Primary,Harare,-17.8264,31.0897,27.0,2390,35,ADSL
1,1002,ALEXANDRA PARK,Primary,Harare,-17.7915,31.0557,26.0,983,50,None
2,1003,ALFRED BEIT PRIMARY,Primary,Harare,-17.7881,31,6.0,1784,9,ADSL
3,1004,ARDBENNIE,Primary,Harare,-17.8767,31.035,25.0,1240,29,ADSL
4,1005,AVONDALE,Primary,Harare,-17.7917,31.0341,221.0,1708,309,Fibre Optic
...,...,...,...,...,...,...,...,...,...,...
9620,1618,SUNNY DAY CHRISTIAN,Primary,Harare,(blank),(blank),12.0,154,14,Fibre Optic
9621,1950,PAGOMO PRIMARY,Primary,Manicaland,(blank),(blank),10.0,62,10,None
9622,4571,ZIMBABWE NATIONAL DEFENCE COLLEGE,Primary,Mashonaland Central,(blank),(blank),NaN,316,2,Fibre Optic
9623,14816,WASHINGTON HILLS HIGH SCHOOL,Secondary,Mashonaland West,(blank),(blank),30.0,331,33,Fibre Optic
9624,9326,PARKLANDS PRIMARY SCHOOL,Primary,Mashonaland West,(blank),(blank),0.0,486,1,None

In [2]:
df = dataframe_cleaner(dataframe=src_df, country_code='ZW')
df

INFO:unicef_schools_attribute_cleaning.pandas.standardize_column_names:uuid column not found, generating uuid4
INFO:unicef_schools_attribute_cleaning.pandas.standardize_column_names:renaming columns: {'Enrolment': ('num_students', 'fuzzy match on alias column: enrollment 95%'),
 'Name': ('name', 'fuzzy match 100%'),
 'Province': ('admin2', 'alias exact match'),
 'SchoolLevel': ('educ_level', 'fuzzy match on alias column: school level 96%'),
 'Schoolnumber': ('description',
                  'fuzzy match on alias column: school number 96%'),
 '_tot_func_computers': ('num_computers',
                         'fuzzy match on alias column: tot_func_computers 97%'),
 'connectiontype': ('type_connectivity', 'alias exact match'),
 'latitude': ('lat', 'alias exact match'),
 'longitude': ('lon', 'alias exact match')}
INFO:unicef_schools_attribute_cleaning.pandas.standardize_column_names:adding 34 columns from schema: ['admin0',
 'admin1',
 'admin3',
 'admin4',
 'admin_code',
 'admin_id',
 'address',
 'address2',
 'phone_number',
 'person_contact',
 'email',
 'postal_code',
 'altitude',
 'gps_confidence',
 'date',
 'num_teachers',
 'connectivity',
 'speed_connectivity',
 'latency_connectivity',
 'availability_connectivity',
 'type_school',
 'environment',
 'num_classrooms',
 'num_sections',
 'water',
 'electricity',
 'num_latrines',
 'last_update',
 'tower_dist',
 'tower_type_service',
 'tower_type',
 'tower_code',
 'tower_latitude',
 'tower_longitude']
INFO:unicef_schools_attribute_cleaning.pandas.standardize_column_names:removing columns: ['Tot_comp_Student'] (not in School schema)
WARNING:root:1 validation error for School
__root__
  invalid lat,lon of 0,0 for name: IMPALI PRIMARY, uuid: 5c59b76d-d730-4cbe-a704-49702c91a607 (type=value_error)
WARNING:root:1 validation error for School
__root__
  invalid lat,lon of 0,0 for name: AMR SISTERS ROMAN CATHOLIC, uuid: 0ca6acee-2117-410d-820e-d7ca12673e54 (type=value_error)
WARNING:root:1 validation error for School
__root__
  invalid lat,lon of 0,0 for name: KUSILE GOVERNMENT PRIMARY, uuid: ebebe093-f1ed-4d16-a767-0b4d1c5436f6 (type=value_error)
INFO:unicef_schools_attribute_cleaning.pandas.dataframe_cleaner:dataframe cleaning: 9625 source rows -> 7919 cleaned rows

,country_code,admin0,admin1,admin2,admin3,admin4,admin_code,admin_id,name,address,...,description,last_update,tower_dist,tower_type_service,tower_type,tower_code,tower_latitude,tower_longitude,is_private,uuid
0,ZW,None,None,Harare,None,None,None,None,ADMIRAL TAIT,None,...,1001,None,None,None,None,None,None,None,True,b353814f-7928-4b2c-b8b2-243e10097839
1,ZW,None,None,Harare,None,None,None,None,ALEXANDRA PARK,None,...,1002,None,None,None,None,None,None,None,True,b46ad1ab-732e-4dad-8f24-6527d02c19ec
2,ZW,None,None,Harare,None,None,None,None,ALFRED BEIT PRIMARY,None,...,1003,None,None,None,None,None,None,None,True,43569404-f507-457e-b1f3-92c23c8d8811
3,ZW,None,None,Harare,None,None,None,None,ARDBENNIE,None,...,1004,None,None,None,None,None,None,None,True,9659f621-129d-4597-bf46-89bae0e13f91
4,ZW,None,None,Harare,None,None,None,None,AVONDALE,None,...,1005,None,None,None,None,None,None,None,True,0f189551-4899-4902-bdd0-962a4042014d
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8266,ZW,None,None,Midlands,None,None,None,None,ORTONS DRIFT,None,...,17949,None,None,None,None,None,None,None,True,22f3c6e3-98da-471b-81da-4db177c630fb
8267,ZW,None,None,Midlands,None,None,None,None,UTAH,None,...,17951,None,None,None,None,None,None,None,True,d616b6cf-2a65-466d-b004-5ad1c1b3c130
8268,ZW,None,None,Midlands,None,None,None,None,MAYWOOD,None,...,17981,None,None,None,None,None,None,None,True,a7fcc244-b79c-4d77-9495-d77c9842fad1
8269,ZW,None,None,Midlands,None,None,None,None,MELROSE,None,...,17982,None,None,None,None,None,None,None,True,bba66e89-d5c3-4576-b0b7-e817e515c554
8739,ZW,None,None,Matabeleland North,None,None,None,None,DABE SECONDARY SCHOOL,None,...,12974,None,None,None,None,None,None,None,True,3d856d33-a4d5-437e-85b1-fdbbb8964dbf

In [3]:
df.head()[['uuid','name', 'admin2', 'lat', 'lon', 'num_students', 'type_connectivity', 'educ_level']]

,uuid,name,admin2,lat,lon,num_students,type_connectivity,educ_level
0,b353814f-7928-4b2c-b8b2-243e10097839,ADMIRAL TAIT,Harare,-17.82644,31.08971,2390,DSL,Primary
1,b46ad1ab-732e-4dad-8f24-6527d02c19ec,ALEXANDRA PARK,Harare,-17.79152,31.05566,983,None,Primary
2,43569404-f507-457e-b1f3-92c23c8d8811,ALFRED BEIT PRIMARY,Harare,-17.78811,31.00001,1784,DSL,Primary
3,9659f621-129d-4597-bf46-89bae0e13f91,ARDBENNIE,Harare,-17.87671,31.03505,1240,DSL,Primary
4,0f189551-4899-4902-bdd0-962a4042014d,AVONDALE,Harare,-17.79174,31.03407,1708,Fiber,Primary

In [4]:
df.to_csv('zimbabwe_cleaned.csv', quoting=QUOTE_NONNUMERIC, index=False)